{% extends "layout.html" %}

{%block title%}

Mi cuenta

{% endblock%}

{% block main%}
<div class="container-fluid">
    <div class="content">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-user">
                    <div class="card-body">
                        <div class="author">
                            <img id="img-preview" class="avatar border-gray mx-auto d-block mb-2"
                                src="{{ user_info.img_url if user_info.img_url else 'https://th.bing.com/th/id/OIP.vqcRLdblXvejwFsJuR2ZcQHaHa?w=800&h=800&rs=1&pid=ImgDetMain' }}">
                            <label for="img-uploader">
                                Seleccionar foto: <i class="fa fa-upload"></i>
                            </label>
                            <input class="form-control mb-4" type="file" name="foto" id="img-uploader" accept="image/*"
                                hidden>
                            <h5 class="title">{{ user_info['nombres'] }} {{ user_info.apellidos }}</h5>
                        </div>
                        <p class="description text-center">
                            {{ biografia }}
                        </p>
                    </div>
                    <div class="card-footer">
                        <hr>
                        <div class="button-container">
                            <div class="row">
                                <div class="col-lg-3 col-md-6 col-6 ml-auto">
                                    <h5>{{ cantidad_posts }}<br><small>Post</small></h5>
                                </div>
                                <div class="col-lg-4 col-md-6 col-6 ml-auto mr-auto">
                                    <h5>{{ user_info.cantidad_seguidores }}<br><small>Seguidores</small></h5>
                                </div>
                                <div class="col-lg-3 mr-auto">
                                    <h5>{{ user_info.cantidad_seguidos }}<br><small>Seguidos</small></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header m-1">
                        <h4 class="text-center">Algo se me ocurrirá</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled team-members">
                            <li>
                                <div class="row">
                                    <div class="col-md-2 col-2">
                                        <div class="avatar">
                                            <img src="../assets/img/faces/ayo-ogunseinde-2.jpg" alt="Circle Image"
                                                class="img-circle img-no-padding img-responsive">
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-7">
                                        DJ Khaled
                                        <br />
                                        <span class="text-muted"><small>Offline</small></span>
                                    </div>
                                    <div class="col-md-3 col-3 text-right">
                                        <btn class="btn btn-sm btn btn-primary btn-round btn-icon"><i
                                                class="fa fa-envelope" style="color:#ffffff"></i></btn>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-md-2 col-2">
                                        <div class="avatar">
                                            <img src="../assets/img/faces/joe-gardner-2.jpg" alt="Circle Image"
                                                class="img-circle img-no-padding img-responsive">
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-7">
                                        Creative Tim
                                        <br />
                                        <span class="text-success"><small>Available</small></span>
                                    </div>
                                    <div class="col-md-3 col-3 text-right">
                                        <btn class="btn btn-sm btn btn-primary btn-round btn-icon"><i
                                                class="fa fa-envelope" style="color:#ffffff"></i></btn>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card card-user pb-2">
                    <div class="card-header m-2">
                        <h4 class="text-center">Editar perfil</h4>
                    </div>
                    <div class="card-body">
                        <form action="/mi_cuenta" method="PUT">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>username</label>
                                        <input type="text" class="form-control" disabled="" placeholder="Company"
                                            value="{{ user_info.nombre_usuario }}">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Nombre</label>
                                        <input type="text" class="form-control" placeholder="Nombre"
                                            value="{{ user_info.nombres }}">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Apellido</label>
                                        <input type="text" class="form-control" placeholder="Apellido"
                                            value="{{ user_info.apellidos }}">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Correo</label>
                                        <input type="email" class="form-control" placeholder="Correo"
                                            value="{{ user_info.email }}">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Departamento</label>
                                        <!-- <input type="text" class="form-control" placeholder="Departamento"
                                            value="{{ user_info.nombre_departamento }}"> -->
                                        <select class="form-control" id="departamento_id"
                                            name="departamento_id"></select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Municipio</label>
                                        <!-- <input type="text" class="form-control" placeholder="Ciudad" value="{{ user_info.nombre_municipio }}"> -->
                                        <select class="form-control" id="municipio_id" name="municipio_id"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Dirección</label>
                                        <input type="text" class="form-control" placeholder="Dirección"
                                            value="{{ user_info.direccion }}">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Sobre mi</label>
                                        <textarea class="form-control textarea">{{ user_info.biografia }}</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="update ml-auto mr-auto">
                                    <button type="submit" class="btn btn-primary btn-round">Actualizar perfil</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fin datos de la cuenta -->

        <!-- Mascotas inicio -->
        <div class="container-fluid pt-5">
            <div class="text-center mb-4">
                <h2 class="section-title px-5"><span class="px-2">Mascotas en adopci&oacute;n</span></h2>
            </div>
            <div class="row px-xl-5 pb-3">
                <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                    <div class="card product-item border-0 mb-4">
                        <div
                            class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                            <img class="img-fluid w-100" src="img/product-1.jpg" alt="">
                        </div>
                        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                            <h6 class="text-truncate mb-3">Colorful Stylish Shirt</h6>
                            <div class="d-flex justify-content-center">
                                <h6>$123.00</h6>
                                <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                            </div>
                        </div>
                        <div class="card-footer d-flex justify-content-between bg-light border">
                            <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>Ver
                                mas informaci&oacute;n</a>
                            <a href="" class="btn btn-sm text-dark p-0"><i
                                    class="fas fa-paw text-primary mr-1"></i>Adoptar</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                    <div class="card product-item border-0 mb-4">
                        <div
                            class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                            <img class="img-fluid w-100" src="img/product-2.jpg" alt="">
                        </div>
                        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                            <h6 class="text-truncate mb-3">Colorful Stylish Shirt</h6>
                            <div class="d-flex justify-content-center">
                                <h6>$123.00</h6>
                                <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                            </div>
                        </div>
                        <div class="card-footer d-flex justify-content-between bg-light border">
                            <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>Ver
                                mas informaci&oacute;n</a>
                            <a href="" class="btn btn-sm text-dark p-0"><i
                                    class="fas fa-paw text-primary mr-1"></i>Adoptar</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                    <div class="card product-item border-0 mb-4">
                        <div
                            class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                            <img class="img-fluid w-100" src="img/product-3.jpg" alt="">
                        </div>
                        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                            <h6 class="text-truncate mb-3">Colorful Stylish Shirt</h6>
                            <div class="d-flex justify-content-center">
                                <h6>$123.00</h6>
                                <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                            </div>
                        </div>
                        <div class="card-footer d-flex justify-content-between bg-light border">
                            <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>Ver
                                mas informaci&oacute;n</a>
                            <a href="" class="btn btn-sm text-dark p-0"><i
                                    class="fas fa-paw text-primary mr-1"></i>Adoptar</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                    <div class="card product-item border-0 mb-4">
                        <div
                            class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                            <img class="img-fluid w-100" src="img/product-4.jpg" alt="">
                        </div>
                        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                            <h6 class="text-truncate mb-3">Colorful Stylish Shirt</h6>
                            <div class="d-flex justify-content-center">
                                <h6>$123.00</h6>
                                <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                            </div>
                        </div>
                        <div class="card-footer d-flex justify-content-between bg-light border">
                            <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>Ver
                                mas informaci&oacute;n</a>
                            <a href="" class="btn btn-sm text-dark p-0"><i
                                    class="fas fa-paw text-primary mr-1"></i>Adoptar</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                    <div class="card product-item border-0 mb-4">
                        <div
                            class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                            <img class="img-fluid w-100" src="img/product-5.jpg" alt="">
                        </div>
                        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                            <h6 class="text-truncate mb-3">Colorful Stylish Shirt</h6>
                            <div class="d-flex justify-content-center">
                                <h6>$123.00</h6>
                                <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                            </div>
                        </div>
                        <div class="card-footer d-flex justify-content-between bg-light border">
                            <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>Ver
                                mas informaci&oacute;n</a>
                            <a href="" class="btn btn-sm text-dark p-0"><i
                                    class="fas fa-paw text-primary mr-1"></i>Adoptar</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                    <div class="card product-item border-0 mb-4">
                        <div
                            class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                            <img class="img-fluid w-100" src="img/product-6.jpg" alt="">
                        </div>
                        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                            <h6 class="text-truncate mb-3">Colorful Stylish Shirt</h6>
                            <div class="d-flex justify-content-center">
                                <h6>$123.00</h6>
                                <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                            </div>
                        </div>
                        <div class="card-footer d-flex justify-content-between bg-light border">
                            <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>Ver
                                mas informaci&oacute;n</a>
                            <a href="" class="btn btn-sm text-dark p-0"><i
                                    class="fas fa-paw text-primary mr-1"></i>Adoptar</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                    <div class="card product-item border-0 mb-4">
                        <div
                            class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                            <img class="img-fluid w-100" src="img/product-7.jpg" alt="">
                        </div>
                        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                            <h6 class="text-truncate mb-3">Colorful Stylish Shirt</h6>
                            <div class="d-flex justify-content-center">
                                <h6>$123.00</h6>
                                <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                            </div>
                        </div>
                        <div class="card-footer d-flex justify-content-between bg-light border">
                            <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>Ver
                                mas informaci&oacute;n</a>
                            <a href="" class="btn btn-sm text-dark p-0"><i
                                    class="fas fa-paw text-primary mr-1"></i>Adoptar</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                    <div class="card product-item border-0 mb-4">
                        <div
                            class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                            <img class="img-fluid w-100" src="img/product-8.jpg" alt="">
                        </div>
                        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                            <h6 class="text-truncate mb-3">Colorful Stylish Shirt</h6>
                            <div class="d-flex justify-content-center">
                                <h6>$123.00</h6>
                                <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                            </div>
                        </div>
                        <div class="card-footer d-flex justify-content-between bg-light border">
                            <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>Ver
                                mas informaci&oacute;n</a>
                            <a href="" class="btn btn-sm text-dark p-0"><i
                                    class="fas fa-paw text-primary mr-1"></i>Adoptar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Mascotas fin -->
    </div>
</div>

<script>
    const departamentos_municipios = {{ departamentos_municipios| safe }};
    depending_selects(departamentos_municipios, 'departamento_id', 'municipio_id');

    const departamentoSeleccionado = '{{ user_info.departamento_id }}';  // Valor del departamento ya seleccionado
    const municipioSeleccionado = '{{ user_info.municipio_id }}';

    console.log(municipioSeleccionado, departamentoSeleccionado);

    const select_dpto = document.getElementById('departamento_id');
    const select_munic = document.getElementById('municipio_id');

    // Asignar el valor del departamento
    select_dpto.value = departamentoSeleccionado;

    // Crear un nuevo evento 'change' y despacharlo
    let event = new Event('change');
    select_dpto.dispatchEvent(event);  // Esto actualizará el select de municipios

    // Esperar a que el select de municipios se actualice con las opciones correspondientes
    // (Esto depende de cómo funcione `depending_selects`)
    setTimeout(() => {
        // Una vez que se haya actualizado el select de municipios, asignar el valor
        select_munic.value = municipioSeleccionado;

        // Si deseas despachar un cambio también en el select de municipio
        select_munic.dispatchEvent(event);
    }, 100);  // Esperar un poco (ajusta el tiempo si es necesario)
</script>


{% endblock%}