{% extends "layout.html" %}

{% block title %}
Mascota Desaparecida
{% endblock %}

{% block main %}
<div class="container-fluid">
    <div class="content mb-3">
        <div class="row">
            <!-- Un solo card para toda la información -->
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header m-2">
                        <h3 class="text-center">Datos de la Mascota Desaparecida</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <!-- Columna de la información de la mascota -->
                            <div class="col-md-8">
                                <form class="mascotaForm" action="/reportarDesaparecida" method="post" enctype="multipart/form-data">
                                    <div class="row">
                                        <div class="col-xl-6 mb-3">
                                            <label for="nombre">Nombre de la mascota</label>
                                            <input type="text" class="form-control" id="nombre" name="nombre"
                                                placeholder="Nombre de la mascota" required>
                                        </div>
                                        <div class="col-xl-6 mb-3">
                                            <label for="tipo">Tipo de mascota</label>
                                            <select class="form-control" id="tipo" name="tipo" required>
                                                <option disabled="" selected="" value="">Seleccione un tipo</option>
                                                {% for item in tipo %}
                                                <option value="{{item[0]}}">{{item[1]}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-xl-6 mb-3">
                                            <label for="raza">Raza</label>
                                            <select class="form-control" id="raza" name="raza">
                                                <option disabled="" selected="" value="">Seleccione una raza</option>
                                                {% for item in razas %}
                                                <option value="{{item[0]}}">{{item[1]}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-xl-6 mb-3">
                                            <label for="color">Color</label>
                                            <input type="text" class="form-control" id="color" name="color"
                                                placeholder="Color principal de la mascota" required>
                                        </div>
                                        <div class="col-xl-4 mb-3">
                                            <label for="tamaño">Tamaño (aproximado en m)</label>
                                            <input type="text" class="form-control" id="tamaño" name="tamaño"
                                                placeholder="Tamaño" required>
                                        </div>
                                        <div class="col-xl-4 mb-3">
                                            <label for="peso">Peso (aproximado en kg)</label>
                                            <input type="text" class="form-control" id="peso" name="peso"
                                                placeholder="Peso" required>
                                        </div>
                                        <div class="col-xl-12 mb-3">
                                            <label for="ultimaUbicacion">Última ubicación vista</label>
                                            <input type="text" class="form-control" id="ultimaUbicacion" name="ultimaUbicacion"
                                                placeholder="Lugar donde fue vista por última vez" required>
                                        </div>
                                        <div class="col-xl-12 mb-1">
                                            <label for="comentario">Información adicional</label>
                                            <textarea class="form-control mb-3" name="comentario"
                                                placeholder="Detalles sobre el día de la desaparición, collar, señales distintivas, etc."></textarea>
                                        </div>
                                    </div>
                            </div>

                            <!-- Columna para la foto de la mascota -->
                            <div class="col-md-4">
                                <img id="img-preview" class="img-fluid mx-auto d-block mb-2">
                                <label for="file">Seleccionar foto: <i class="fa fa-upload"></i></label>
                                <input class="form-control mb-4" type="file" name="foto" id="img-uploader" accept="image/*">
                                <progress id="img-upload-bar" value="0" max="100"></progress>
                            </div>                            

                            <div class="col-xl-12 form-group" align="center">
                                <button class="btn btn-primary" type="submit">Reportar como desaparecida</button>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
